/*
Krāsu palete no https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
*/


body {
    font-family: monospace;
    background-color: #6D6875;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* Svarīgi! */
    align-items: center;     /* Horizontāli centrē */
    justify-content: center; /* Vertikāli centrē */
}

.container {
    background-color: #BDE0FE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.calculator {
    background-color: #FFC8DD;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    background-color: #CDB4DB;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}

.output-container {
    background-color: #CDB4DB;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;  /*+/-*/
}

.button-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #A2D2FF;
    border-radius: 5px;
}

button {
    width: 93%;
    background: #FFAFCC;
    color: FFC8DD;
    cursor: pointer;
}

input {
    width: 90%;
    padding: 8px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}



